$primary: #1ca8ff;
$primary-hover: #1998e3;

$secondary: #243475;
$secondary-hover: #1e2a5f;

$danger: #dc2626;
$danger-hover: #b91c1c;

$light: #e5e7eb;
$light-hover: #d1d5db;

$primary-text: #060e30;
$secondary-text: #6a6e83;
$bg: #f3f4f6;
$white: #fff;

$border: 1px solid $light-hover;
